<div class="col-centre">
    {% assign posts = site.posts %}

  {%- if posts.size > 0 -%}

    <ul class="post-list">
          {%- for post in posts -%}
      <article>
      <li>
  <div class="post-header">
	  <div class="icon-type">
    	  {% assign categories = post.categories %}
    		{% for category in categories %}
        {%- if category == 'editions' -%}
        <a class="{% if page.category == category %} active {% endif %}" href="{{ site.baseurl }}/category/{{ category }}">&#9636;</a>
        {%- elsif category =='WMAN' -%}
        <a class="{% if page.category == category %} active {% endif %}" href="{{ site.baseurl }}/category/{{ category }}">&#9637;</a>
        {%- elsif category =='jeux' -%}
        <a class="{% if page.category == category %} active {% endif %}" href="{{ site.baseurl }}/category/{{ category }}">&#9638;</a>
        {%- elsif category =='wip' -%}
        <a class="{% if page.category == category %} active {% endif %}" href="{{ site.baseurl }}/category/{{ category }}">&#9639;</a>
        {%- elsif category =='websites' -%}
        <a class="{% if page.category == category %} active {% endif %}" href="{{ site.baseurl }}/category/{{ category }}">&#9640;</a>
        {%- elsif category =='publications' -%}
        <a class="{% if page.category == category %} active {% endif %}" href="{{ site.baseurl }}/category/{{ category }}">&#9641;</a>
      {%- elsif category =='poesiemaxi' -%}
      <a class="{% if page.category == category %} active {% endif %}" href="{{ site.baseurl }}/category/{{ category }}">	&#9703;</a>
      {%- elsif category =='presse' -%}
        <a class="{% if page.category == category %} active {% endif %}" href="{{ site.baseurl }}/category/{{ category }}">&#9704;</a>
         {%- endif -%}
    		{% endfor %}
    		</div>

        <h3 class="post-title">
            {{ post.title | escape }}
        </h3>

		<div class="post-meta">
		{{ post.date | date_to_long_string }}
		</div>
</div>

  <div class="post-content">
          {{ post.content }}
  </div>


      </li>
      	</article>
      {%- endfor -%}
    </ul>

  {%- endif -%}
	</div>
