<div class="travaux-gauche">
  {% assign sorted_tags = site.tags | sort %}
  {% for tag in sorted_tags reversed %}
  {% assign t = tag | first %}
  <div class="piste">
    {% capture tag_name %}{{ tag | first }}{% endcapture %}
        <h2>{{ t | split: '-' | shift | join: ' '}}</h2>
        {% for post in site.tags.[tag_name] %}
        {% assign page_title = page.title | downcase%}
        {% assign post_title = post.title | downcase%}
        <li><h3><a class="{% if page_title == post_title %}active{% endif %}" href="{{ post.url }}">{{ post.title }}</a></h3></li>
        {% endfor %}
          </div>
  {% endfor %}

  </div>
