<div class="travaux-gauche">
  {% assign sorted_tags = site.tags | sort %}
  {% for tag in sorted_tags reversed %}
  {% assign t = tag | first %}
  <div class="piste">
    {% capture tag_name %}{{ tag | first }}{% endcapture %}
    {% assign page_title = page.title | downcase%}
        {% if tag_name == '05-le-bruit-des-etoiles' or tag_name == '03-quete²' or tag_name == '01-∞lecture' or tag_name == '00-If-Hollywood...' or tag_name == '00-Graphies' %}<span class="smile big-s">&#9786;</span>
         {% if tag_name == '05-le-bruit-des-etoiles'%}<a href="{% post_url /travaux/2020-12-16-big-lbde %}" class="gros-lien"><h2 class="{% if page_title == 'le bruit des etoiles' %}active{% endif %}">{{ t | split: '-' | shift | join: ' '}}</h2></a>
         {% elsif tag_name == '03-quete²'%}<a href="{% post_url /travaux/2020-12-16-big-quete %}" class="gros-lien"><h2 class="{% if page_title == 'quête²' %}active{% endif %}">{{ t | split: '-' | shift | join: ' '}}</h2></a>
         {% elsif tag_name == '01-∞lecture'%}<a href="{% post_url /travaux/2020-12-16-big-lecture %}" class="gros-lien"><h2 class="{% if page_title == '∞lecture' %}active{% endif %}">{{ t | split: '-' | shift | join: ' '}}</h2></a>
         {% elsif tag_name == '00-If-Hollywood...'%}<a href="{% post_url /travaux/2020-12-16-big-hollywood %}" class="gros-lien"><h2 class="{% if page_title == 'hollywood' %}active{% endif %}">{{ t | split: '-' | shift | join: ' '}}</h2></a>
         {% elsif tag_name == '00-Graphies'%}<a href="{% post_url /travaux/2020-12-16-big-graphies %}" class="gros-lien"><h2 class="{% if page_title == 'graphies' %}active{% endif %}">{{ t | split: '-' | shift | join: ' '}}</h2></a>

         {% else %}<h2>{{ t | split: '-' | shift | join: ' '}}</h2>
         {% endif %}
      {% for post in site.tags.[tag_name] %}
      {% assign page_title = page.title | downcase%}
      {% assign post_title = post.title | downcase%}
      <li class="{% if page_title == post_title %}active{% endif %}"><span class="i-legend">
        {{ post.icone }}
        </span>
        <h3><a href="{{ post.url }}">{{ post.title }}</a></h3></li>
      {% endfor %}
          {% elsif  tag_name == '04-wman' %}
          {% for post in site.tags.[tag_name] %}
          {% assign page_title = page.title | downcase%}
          {% assign post_title = post.title | downcase%}
          <span class="smile big-s">&#9786;&#9786;&#9786;</span><h2 class="{% if page_title == post_title %}active{% endif %}"><a href="{% post_url /travaux/2020-12-15-wman-guild %}" class="gros-lien">{{ t | split: '-' | shift | join: ' '}}</a></h2>
          {% endfor %}
          {% elsif  tag_name == '04-fusion' %}
          {% for post in site.tags.[tag_name] %}
          {% assign page_title = page.title | downcase%}
          {% assign post_title = post.title | downcase%}
          <span class="smile big-s">&#9786;&#9786;&#9786;</span><h2 class="{% if page_title == post_title %}active{% endif %}"><a href="{% post_url /travaux/2020-12-15-fusion %}" class="gros-lien">{{ t | split: '-' | shift | join: ' '}}</a></h2>
          {% endfor %}
          {% elsif tag_name == '02-poesie-maxi' %}
          {% for post in site.tags.[tag_name] %}
          {% assign page_title = page.title | downcase%}
          {% assign post_title = post.title | downcase%}
          <span class="smile big-s">&#9786;&#9786;&#9786;</span><h2 class="{% if page_title == post_title %}active{% endif %}"><a href="{% post_url /travaux/2020-12-15-poesie-maxi %}" class="gros-lien">{{ t | split: '-' | shift | join: ' '}}</a></h2>
          {% endfor %}
          {% elsif tag_name == '01-elias' %}
          {% for post in site.tags.[tag_name] %}
          {% assign page_title = page.title | downcase%}
          {% assign post_title = post.title | downcase%}
          <span class="smile big-s">&#9786;&#9786;</span><h2 class="{% if page_title == post_title %}active{% endif %}"><a href="{% post_url /travaux/2020-12-15-elias %}" class="gros-lien">{{ t | split: '-' | shift | join: ' '}}</a></h2>
          {% endfor %}
          {% elsif tag_name == '01-iamanai' %}
          {% for post in site.tags.[tag_name] %}
          {% assign page_title = page.title | downcase%}
          {% assign post_title = post.title | downcase%}
          <span class="smile big-s">&#9786;&#9786;</span><h2 class="{% if page_title == post_title %}active{% endif %}"><a href="{% post_url /travaux/2020-12-15-iamanai %}" class="gros-lien">{{ t | split: '-' | shift | join: ' '}}</a></h2>
          {% endfor %}
          {% endif %}
          </div>
  {% endfor %}
<br>
<br>
  </div>
