:root{
--font-size:1em;
--line-height:1.5em;
--font-color:#060626;
--contrast-color:#ece7e7;
--background-color:#ece7e7;
--serif: 'helvetica', serif;
--sans-serif:'helvetica', sans-serif;
--big-space:.1rem;
--shadow-color:#C61818;
--post-link-color:#C61818;
--shadow:var(--shadow-color) 5px 5px;
--border:1px solid var(--font-color);
--blend-mode:multiply;
--post-link-shadow:var(--font-color) 5px 5px;
  --fig-shadow:var(--font-color) 5px -5px;
}

.dark-mode-checkbox:checked ~ .theme-container {
  --background-color:#33334e;
  --font-color:#ece7e7;
  --contrast-color:#060626;
  --blend-mode:normal;
  --border:1px solid var(--font-color);
  --shadow-color:magenta;
  --link-color:LightSteelBlue;
  --shadow:var(--shadow-color) 5px 5px;
  --post-link-color:LightSteelBlue;
  --post-link-shadow:magenta 5px 5px;
  --fig-shadow:magenta 5px -5px;
}

.dark-mode-label{
  position:absolute;
  right:20px;
  font-weight:bold;
  cursor:pointer;
}

.dark-mode-label::before {
  content: "\263D";
}

.dark-mode-checkbox:checked ~ .theme-container .dark-mode-label::before {
  content: "\1F7D2";
}

.sr-only {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  white-space: nowrap; /* 1. */
}


*{
padding:0;
margin:0;
color:var(--font-color);
line-height:var(--line-height);
}

html, body{
  overflow-y:hidden;
}

body{
  display:flex;
  flex-direction: column;
overflow-x:hidden;
}

.theme-container{
  background:var(--background-color);
}

.grow {
  flex-grow: 1; /* 1. */
}

a{
text-decoration:none;
}

li{
	list-style:none;
}

h1, h2, h3, h4, h5, figcaption{
font-family:var(--sans-serif);
letter-spacing: var(--big-space);
font-weight:bold;
}

h1{
font-size:calc(var(--font-size)*2);
}

h2{
font-size:calc(var(--font-size)*1.5);
}

h3{
font-size:var(--font-size);
}

p{
font-family: var(--serif);
}

figcaption{
font-size:calc(var(--font-size)*0.5);
}

hr{
  border-top:var(--border);
  border-bottom:0;
}

audio{
  width:100%;
}
