header{
min-height:9vh;
width:100%;
text-transform: uppercase;

	a:hover{
		text-shadow:var(--shadow);
	}


	.header-name{
	width:inherit;
	height:3em;
	border-bottom:var(--border);
	font-size: calc(var(--font-size)*0.5);
	padding-left:10px;

	  h1, a{
		height:inherit;
		}
	}

	.header-menu{
	max-height:50%;
	padding-left:10px;

		h1, a{
		display: inline-block;
		}

		h1:not(:first-child):before{
		content:'\25CD  ';
		font-size:calc(var(--font-size)*0.5);
		font-weight:normal;
		}
	}
}

.home{
border-top: var(--border);
}

.journal-grid{
margin:auto;
width:100%;
display:grid;
grid-template-columns:80% 20%;
}

.wrapper{
border:var(--border);
padding:0.5em;
}

.col-centre{
overflow-y:scroll;
max-height:89vh;
}

.col-centre a{
font-family:var(--sans-serif);
font-weight:bold;
}

.col-centre a:hover{
text-shadow:var(--shadow);
}

.col-centre p a{
font-size:calc(var(--font-size)*0.9);
}

.post-header, .post-inter-header{
	width:100%;
}

.icon-type{
position:relative;
float:right;
font-size:calc(var(--font-size)*1.5);
}

.icon-type a{
	font-weight:normal;
}

.post-title, .post-inter-title{
text-transform: uppercase;
font-size: calc(var(--font-size)*1.5);
font-weight:bold;
letter-spacing: var(--big-space);
}

.post-title:before{
content:'\205E'
}

.post-title:after{
content:'\205E'
}

.post-meta{
font-size:calc(var(--font-size)*0.7);
font-family:var(--sans-serif);
letter-spacing: var(--big-space);
font-weight:bold;
padding:2px;
text-transform:uppercase;
margin-bottom:var(--line-height);
line-height:calc(var(--line-height)*0.3);
}

article{
padding:1em;
border-bottom:var(--border);
 	p{
	padding-bottom:calc(var(--line-height)*0.5);
	}
}

.post-content{
	 a{
		 color:var(--post-link-color);
	}
	a:hover{
	text-shadow:var(--post-link-shadow);
	}
}

.col-droite{
border-left: var(--border);
}

.ici{
	padding:1em;
}

.ailleurs{
	border-top:var(--border);
	padding:1em;
}

.ailleurs a:hover{
	text-shadow:var(--shadow);
}

.nav-legende{
font-size:calc(var(--font-size)*1.8);
}

.cat-nav{
font-size:calc(var(--font-size)*0.7);
font-family:var(--sans-serif);
letter-spacing: var(--big-space);
font-weight:bold;
padding:2px;
text-transform:uppercase;
line-height: var(--line-height);

	a{
	display:inline;
}

		a:hover{
		text-shadow:var(--shadow);
		}

}

.active{
	text-shadow:var(--shadow);
}

.imgbitmap :hover{
display:none;
}

.photopost{
	width:100%;
	height:auto;
mix-blend-mode: var(--blend-mode);
}

.photopost-pett{
	width:33%;
	height:auto;
	margin-left:33%;
	mix-blend-mode: var(--blend-mode);
}

.infobulle {
	position:relative;
}

.infobulle:hover:after,
.infobulle:focus:after {
  content: attr(aria-label);  /* on affiche aria-label */
	color:var(--font-color);
	position: absolute;
  top: -2em;
left:-70%;
  transform: translateX(-50%); /* on centre horizontalement  */
  z-index: 1; /* pour s'afficher au dessus des éléments en position relative */
  white-space: nowrap;  /* on interdit le retour à la ligne */
	font-size:calc(var(--font-size)*0.5);
	font-family:var(--sans-serif);
	letter-spacing: var(--big-space);
	font-weight:bold;
	text-transform:uppercase;
}


/*
TRAVAUX
*/

.travaux-content{
width:100%;
border-top:var(--border);

	.legend{
	font-family: var(--sans-serif);
	letter-spacing: var(--big-space);
	font-weight: bold;
	text-transform: uppercase;
	font-size: calc(var(--font-size)*0.8);
	width:100%;
	border-bottom:var(--border);
	padding-left: 10px;
	padding-right:10px;

		.i-legend{
			font-weight:normal;
			font-size:calc(var(--font-size)*1.3);
		}
		.smile{
			letter-spacing: -2px;
		}

	}
	.big-s{
		letter-spacing: -2px;
		font-size:calc(var(--font-size)*1.5);
	}

	.travaux-grid{
	margin:auto;
	width:100%;
	display:grid;
	grid-template-columns:30% 70%;

		.travaux-gauche{
		border-right:var(--border);
		border-bottom:var(--border);

			.piste{
			padding:10px;
				h2{
					display:inline-block;
				text-transform: uppercase;
				margin-left: -3px;
				}
				li{
				padding-left:25px;
				}
				h3{
					display:inline-block;
				}

				li:hover{
				text-shadow:var(--shadow);
				}
			}
		}

		.gros-lien{
			padding-left:5px;
		}

		.gros-lien:hover{
		text-shadow:var(--shadow);
		}

		.travaux-droite{
			overflow-y:scroll;
			overflow-x:hidden;
			max-height:87vh;

			article{
			padding:0;
			}
			.post-header, .post-inter-header{
			padding:10px;
			border-bottom:var(--border);
			}

			.post-inter-header{
				line-height:calc(var(--line-height)*0.8);
			}
			.post-title:before, .post-title:after{
			content:'';
			}

			.post-meta{
			line-height:var(--line-height);
			padding:0;
			margin:0;
			padding-right:10px;
			}

			.post-content{
				p, h3{
					padding:10px;
				}
				a{
					font-weight:bold;
					:hover{
					text-shadow:var(--font-color) 5px 5px;
					}
					:visited{
						color:--post-link-color;
					}
				}
				li{
					font-family:var(--serif);
					padding-left:10px;
					padding-right: 10px;
				}
				figcaption{
					padding-left:10px;
					font-size:calc(var(--font-size)*0.6);
						:hover{
						text-shadow:var(--fig-shadow);
						}
				}

			}
		}
	}
}

.liens-content{
	border-top:var(--border);
	width:100%;
}
.lien{
	position: absolute;
    top: 100px;
    left: 100px;
		font-family:var(--sans-serif);
		text-transform:uppercase;
		letter-spacing: var(--big-space);
		:hover{
		text-shadow:var(--shadow);
		}
}
