---
layout: travaux
---
<article>
  <div class="post-header">
    <h2 class="post-title">{% if page.alt == nil %}{{ page.title | escape }}{% else %}{{ page.alt | escape }}{% endif %}{% if page.site != nil %}<a href="{{ page.site }}" class="gros-lien"><span style="font-size:calc(var(--font-size)*0.5);">(({{ page.sitetitle }}))</span></a>{% endif %}</h2>
    <p class="post-meta">
        {{ page.medium }} {% if page.description != nil %} &#8855; {{ page.description }} {% endif %} {% if page.dimensions != nil %} &#8855; {{ page.dimensions }} {% endif %} {% if page.annee != nil %}&#8855; {{ page.annee }}{% endif %}
    </p>
  </div>

  <div class="post-content">
    {{ content }}
  </div>

  </article>
