---
layout: default
---
<div class="travaux-content">
  <div class="legend">
    légende :
    <span class="i-legend smile">&#9786;</span> solo
    <span class="i-legend smile">&#9786;&#9786;</span> collab
    <span class="i-legend smile">&#9786;&#9786;&#9786;</span> collectif
    <span class="i-legend">&#9707;</span> livres
     <span class="i-legend">&#9635;</span> installations
     <span class="i-legend">&#9715;</span> sites
     <span class="i-legend">&#x2BBD;</span> performances
  </div>
  <div class="travaux-grid">
        {% include travaux-gauche.html %}
        {% include travaux-droite.html %}
  </div>
</div>
